.common-width {
    max-width: 1300px;
    width: 90%;
}

button {
    cursor: pointer;
}

#why-choose-us > h1,
.common-width {
    margin-left: auto;
    margin-right: auto;
}

#about {
    padding: 2rem 0 0 0;
}

#about > div {
    display: flex;
    align-items: center;
    justify-content: center;
}


#about > div > h1, #why-choose-us > h1 {
    font-weight: 500;
    text-align: center;
    padding-bottom: 0.2rem;
    border-bottom: 3.5px solid #ee4c7c;
    font-size: 32px;
    width: fit-content;
}

#why-choose-us {
    text-align: center;
    padding: 3.5rem 0;
}

.common-para {
    color: rgb(1, 1, 1);
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.7px;
}

footer {
    background-color: black;
}

footer > div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
}

footer p {
    margin: 0 !important;
}

@media (max-width:534.9px) {
    footer > div {
        font-size: 12px;
    }
}